/* contact.css */

.contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-gap: 50px; /* Gap between columns */
  align-items: center;
}

.contact-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-con {
  width: 100%;
  max-width: 400px; /* Adjust as needed */
  height: auto;
}

.input {
  width: 100%;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 3rem;
  margin-top: 0.625rem;
}

.textarea {
  width: 100%;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical; /* Allow vertical resizing */
}

.button {
  padding: 10px 20px;
  background-color: #007bff; /* Change to your desired color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3; /* Change to your desired color on hover */
}

.text-red {
  color: red;
}

.p-contact {
  padding: 3rem;
  font-size: 2.5rem;
}

.iframe-con {
  width: 100%; /* Set width to 100% to make it responsive */
  margin-bottom: 3rem;
  padding-right: 3rem;
  border-left: 1px solid #ccc; /* Add left border */
  border-right: 1px solid #ccc; /* Add right border */
}

.form-con {
  width: 85%;
  background: #242424;
  padding: 3rem;
  border-radius: 0.625rem;
  margin-left: 3rem;
  height: 450px;
  margin-bottom: 3rem;
}
.form-container {
  width: 700px;
  padding: ;
}
.footer-container a {
  color: inherit; /* Inherit color from parent, usually white or specified color */
  text-decoration: none; /* Remove underline */
}

.input-message {
  border-radius: 5px;
  height: 8rem;
  width: 100%;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 10rem;
  margin-top: 0.625rem;
}
.soc-icon {
  font-size: 28px;
}

/* Dark mode */

.dark .p-contact {
  color: #ffff;
}

.dark .form-con {
  background: #fff;
}
@media screen and (max-width: 830px) {
  .soc-icon {
    font-size: 22px;
  }
  .ul-con li {
    font-size: 14px;
  }

  .terms-con li a {
    font-size: 14px;
  }

  .input {
    height: 2.5rem;
  }

  .input-message {
    height: 10rem;
  }
}

@media screen and (max-width: 720px) {
  .contacts {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
  }

  .p-contact {
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
  }

  .form-con {
    margin: 0 auto;
  }

  .iframe-con {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding-left: 2.5rem;
    border-radius: 0.625rem;
    padding: 0;
    width: 75vw;
  }

  .footer-container {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem; /* Gap between grid items */
    padding: 2rem; /* Padding around grid items */
    text-align: center; /* Center-align text */
    justify-content: center; /* Center-align items horizontally */
    align-items: center; /* Center-align items vertically */
    grid-template-columns: 1fr !important; /* Set to a single column layout */
    margin-right: 1rem;
  }

  .ul-container,
  .terms-container {
    text-align: center; /* Center-align text */
    justify-self: center; /* Center-align items horizontally */
    align-self: center; /* Center-align items vertically */
    margin-inline: auto;
  }

  .ul-con,
  .terms-con {
    width: 100%; /* Make elements take full width */
    margin-top: 1rem; /* Add margin to the top */
    margin-bottom: 3rem; /* Add margin to the bottom */
    padding-left: 0; /* Remove left padding */
    text-align: center; /* Center-align text */
    justify-self: center; /* Center-align items horizontally */
    align-self: center;
  }

  .terms-con {
    padding-bottom: 3rem;
  }

  .terms-con li a {
    justify-self: center; /* Center-align items horizontally */
    align-self: center;
  }

  .text-muted {
    grid-row: 3; /* Place text-muted in the third row */
    width: 100%; /* Make elements take full width */
    margin-top: auto; /* Align to the bottom */
  }

  .social-con {
    display: flex;
    justify-content: center;
    margin-top: 2rem; /* Add margin to the social icons */
  }

  .social-con li {
    margin-right: 0.5rem; /* Adjust spacing between social icons */
  }

  .soc-icon {
    font-size: 20px; /* Adjust size of social icons */
  }

  .foot-con {
    margin: 4rem;
  }
  .text-mutd p {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 430px) {
  .form-con {
    width: 100%;
  }
}
/* .dark .input{
  background: #000;
  color: #fff;
}

.dark .textarea{
  background: #000;
  color: #fff;
} */

/* .dark .input-message{
  background: #000;
  color: #fff;
} */

/* Footer Css */

.footer-container {
  align-items: center;
  text-align: center;
  background: #242424;
  color: white;
  width: 100%;
  height: auto;
  border-radius: 0.625rem;
  display: grid;
  grid-template-columns: 1fr auto; /* Divide the grid into two columns, the first takes remaining space, the second takes content width */
  gap: 1rem; /* Add gap between grid items */
  position: relative;
}

.foot-con {
  padding-bottom: 1rem;
  margin: 3rem;
}

.text-muted {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.text-muted p {
  font-size: 1rem;
}
.text-muted p,
li:hover {
  color: #ffcc00;
}

.ul-con {
  width: auto; /* Let the width be determined by content */
  text-align: start; /* Center-align text */
  justify-content: center; /* Center-align items horizontally */
}
.ul-con li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.ul-con li > * {
  margin-right: 0.5rem;
}

.terms-con {
  width: auto; /* Let the width be determined by content */
  text-align: right; /* Align text to the right */
  align-self: center; /* Align the list vertically in the center */
}

.terms-con li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.terms-con li > * {
  margin-right: 0.5rem;
}

.terms-con li a {
  text-decoration: none;
  color: #fff;
}

.terms-con li a:hover {
  color: #ffcc00;
}

.terms-con li svg {
  margin-right: 0.25rem;
}

/* dark mode */
.dark .footer-container {
  background: #fff;
}

.dark .text-muted {
  color: #242424;
}

.dark .ul-con {
  color: #242424;
}

.dark .terms-con li a {
  color: #242424;
}
.dark .terms-con li a:hover {
  color: #ffcc00; /* Add underline on hover */
}

@media screen and (max-width: 830px) {
}
