.slick-slide > div {
  margin: 0 10px; /* Add the margin between the card slides */
}

.slide-container {
  padding: 2rem;
  
}


.dark .slick-dots li button:before{
color: #fff;

} 

.event-con{
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.card-con {
  height: auto;
  min-height: 550px; /* Default minimum height */
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 2%;
  background: #242424;
  color: #fff;
}

@media screen and (max-width: 1800px) {
  .card-con {
    min-height: 550px; /* Adjust for large screens */
  }
}
@media screen and (max-width: 1024px) and (min-width: 820px) {
  .card-con {
    min-height: 480px; /* Adjust for large screens */
  }

  .description {
    text-overflow: clip; /* Counter the ellipsis and show full text */
  }
}



@media screen and (max-width: 820px) {
  .card-con {
    min-height: 500px; /* Adjust for medium screens */
  }
}

@media screen and (max-width: 768px) {
  .card-con {
    min-height: 750px; /* Adjust for tablets */
  }
}

@media screen and (max-width: 640px) {
  .card-con {
    min-height: 650px; /* Adjust for small tablets */
  }
}

@media screen and (max-width: 570px) {
  .card-con {
    min-height: 560px; /* Adjust for large phones */
  }
}

@media screen and (max-width: 500px) {
  .card-con {
    min-height: 540px; /* Adjust for medium phones */
  }
}

@media screen and (max-width: 430px) {
  .card-con {
    min-height: 500px; /* Adjust for small phones */
  }
}

.slick-slide img {
  border-radius: 5%;
}

.dark .card-con {
  background: #fff;
  color: #242424;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0.7rem;
}

.card-content h2 {
  color: #ffd700;
  font-size: 1.2em;
  height: 2.4em; /* Adjust height to fit a specific number of lines */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Ensure text does not wrap to the next line */
  margin: 0; /* Remove default margin */
}

.description-container {
  max-height: 100px; /* Set the max-height as per your requirement */
  overflow: hidden;
  position: relative;
  flex-grow: 1;
}

.description {
  font-size: 14px;
  line-height: 1.4;
  max-height: 100px; /* Match this with .description-container's max-height */
  -webkit-line-clamp: 3; /* Number of lines to show before truncating */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 1rem;
}











/*Event List CSS*/

.event-card {
  height: auto;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 5%;
  background: #fff;
  color: #242424;
  


}

.event-title{
  color: #ffd700;
  padding: 2rem;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.6rem

}

.event-description-container{
  text-align: justify;
  padding: 0 2rem;
}

.event-description {
  font-size: 1.2rem;
  font-weight: 800;
  padding-bottom: 10px

}

.event-narrative {
  font-size: 0.9rem;
  padding-bottom: 10px

}

.dark .event-description-container{ 
  color: #fff;
}

.dark .event-card { 
  color: #fff;
  background: #242424;
}
.event-card{
  color: #242424;
}



.search-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   /* Adjust margin as needed */
}

.search-boxx {
  width: 300px; /* Set the width of the search box */
  text-align: center;
  background: #242424;
  color: white;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 3rem; /* Adjust margin as needed */
}

.dark .search-boxx {

  background: #fff;
  color: #242424;
}











/* Style the button for events */
.button-events {
 
  bottom: 4rem;
  position: absolute;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #7d2ae8;
  transition: all 0.2s ease;
  z-index: 1; /* Ensure button appears above other content */
}

/* Style the button link */
.button-events a {
  text-decoration: none;
  color: inherit;
}

/* Hover effects for the button */
.button-events:hover {
  transform: scale(0.96);
  background-color: #6b23cc; /* Adjust hover background color */
}

.button-events:before,
.button-events:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1;
  background-repeat: no-repeat;
}

/* Additional hover animations for the button */
.button-events:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button-events:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}



