.dev-con {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust as needed */
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f0f0f0; /* Your main background color */
  padding: 20px;
}

.popup {
  position: relative; /* Change to relative for proper stacking */
  width: 100%; /* Full width */
  height: 100vh; /* Adjust height as needed */
  background-size: cover;
  opacity: -5; /* Adjust opacity as needed */
  transition: opacity 0.5s ease-in-out;
}

.popup.show {
  opacity: 1; /* Show the popup */
}


/* Terms and COndtion CSS */

.terms-text-con {
    align-items: center; /* Corrected property name */
    text-align: justify;
    padding: 4rem;
    margin: 2rem;
   
}


.terms-title{
    padding-bottom: 4rem;
    text-align: center;
    color: #FFD700;
}
/* FAQ CSS */
.intro{
    padding-bottom: 2rem;
   
}
.term-h2{
    padding-bottom: 1rem;
   
}

.term-content{
    padding-bottom: 1rem;
    padding-left: 40px;
   
}

 .dark .term-h2, .dark .intro, .dark .term-content, .dark .terms-content {
   color: #fff
   
}

/* FAQ CSS*/
 
.faq-page{
    align-items: center; /* Corrected property name */
    text-align: justify;
    padding: 4rem;
    margin: 2rem;

}

.dark .faq-page{
  color: #ffff;
}

.faq-page h1{
    text-align: center;
    color: #FFD700;
    padding-bottom: 4rem;
}

.faq-item {
    padding-bottom: 2rem;
}
.faq-item h3{
  padding-bottom: 2rem;
}


/* Privacy Policy CSS*/

.privacy-page {
    text-align: center;  
    padding: 4rem;
    
  }
  
  .privacy-page h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #FFD700;
  }
  
  .privacy-page p {
    font-size: 1em;
    color: #333;
    line-height: 1.6;
  }
  
  .privacy-section {
    margin-bottom: 20px;
    padding: 2rem;
    text-align: justify;
  }
  
  .privacy-section h2 {
    font-size: 1.75em;
    margin-bottom: 10px;
  }
  
  .privacy-section ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .privacy-section ul li {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    text-align: justify;
  }

  .dark .privacy-page, .dark .privacy-section ul l, .dark .privacy-page p{
    color: #fff;
  }

  @media (max-width: 477px) {
    .privacy-page, .terms-text-con, .faq-page {
      padding: 2rem;
      margin: auto;
      font-size: 1em;
    }
    
  .privacy-section {
  
    padding: 0rem;
   
  }
    
  .privacy-section ul {

    padding-left: 0;
  }
  .privacy-section h2 {
    font-size: 1.3em;
  }
 

   
}
  


  