* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* index.css */

html, body {
  height: 100%;
}

#root {
  height: 100%;
  transition: 0.5s;
}


.body-container {
  width: 100%;
  min-height: 80vh;
  height: 100%:
  transistion: 0.5s;
  position: relative;
}

.dark .body-container {
  background: #242424;
}


