* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100vw;
  min-height: 100vh;
  /* background: #003ed3; */
  transistion: 0.5s;
 position: relative;
 overflow-x: hidden;
 overflow-y: hidden;
  
}

.dark .container {
  background: #242424;
}


