.content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.home-con {
    width: 100%;
    text-align: center;
    color: #fff;
  }


  .home-text {
    display: flex;
    align-items: center;
    padding: 3rem;
    justify-content: space-between; /* Align items with space between */
    
  }
  
  .text-content {
    width: 50%; /* Adjust the width as needed */
    margin: auto; /* Center the div horizontally */
    padding: 2rem  0 2rem 0; /* Add some padding around the content */
  }
  

  
  .image-content {
    flex: 1; /* Allow the image content to take the remaining space */
    display: flex;
    justify-content: flex-end; /* Align image to the right */
    align-items: center; /* Align image vertically */
  }
  
  .image-content img {
    max-width: 100%; /* Ensure the image doesn't exceed the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5%;
  }
  

  .text-content h1 {
    font-size: 2.2em;
    padding-bottom: 3rem;
    color: #FFD700;
   
  }
  
  .text-content h2 {
    font-size: 1.7em;
    padding-bottom: 3rem;
    text-align: justify;
    margin-right: 5rem;
    hyphens: auto;
    
  }

  .home-con h1{
    margin: 0;
    font-size: 120px;
    color: rgba(225,225,225, .01);
    background-image: url("../assets/cover.jpg");
    background-repeat: repeat;
    -webkit-background-clip:text;
    animation: animate 15s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
  }
  
    @keyframes animate {
      0%, 100% {
        background-position: left top;
      }
      25%{
        background-position: right bottom;
       }
      50% {
        background-position: left bottom;
      }
      75% {
        background-position: right top;
      }   
  }

  
   .dark .text-content h2 {
    color: #fff;
   }

     
  @media screen and (max-width: 1060px) { 

    .text-content h1 {
        font-size: 1.7em;
        padding-bottom: 3rem;
      }
      .text-content h2 {
        font-size: 1em;
        padding-bottom: 3rem;
        text-align: justify;
        padding-right: 5rem;
        margin-right: 2rem;
       
      }

  }
  @media screen and (max-width: 820px) and (min-width: 610px) { 
    .text-content h2 {
      font-size: 1em; /* Adjust the font size as needed */
      padding-bottom: 2rem;
      text-align: justify;
      margin-right: 0;
    }
      .text-content h1 {
        font-size: 1.2em;
        padding-bottom: 2rem;
      }
  
   
  

    
  }
  
 
  @media screen and (max-width: 720px) {
    .home-text {
      flex-direction: column; /* Stack items vertically */
      align-items: center;
      justify-content: center;
    }
  
    .text-content,
    .image-content {
      width: 100%; 
      margin-bottom: 2rem; 
      align-items: center;
      justify-content: center;
    }
  
        .text-content {
          text-align: center; /* Center text horizontally on smaller screens */
        }
      
        .text-content h1 {
          margin: 0; /* Remove any default margin */
        }
      
        .text-content h2 {
          margin: 0; /* Remove any default margin */
          padding-right: 0;
        }
        
      
    .image-content {
      order: -1; /* Move the image content to the top */
    }
  
    .home-con h1 {
      font-size: 60px;
    }
  }
  